@import url(
    'universal.css'
);

#devspage{
    display: none;
}

#devsheader{
    min-height: 100px;
    position: fixed;
    width: 100%;
    background: var(--secondary);
    -webkit-backdrop-filter: blur(10px);
    -webkit-filter: opacity(85%);
    filter: opacity(85%);
    backdrop-filter: blur(10px); 
    z-index: 5;
}
footer{
    margin-top: -100px;
}

#devsheader h1{
    position: fixed;
    margin-top: 40px; 
    margin-left: 30px;
}

#spacer{
    height: 230px;
}

.devslist::-webkit-scrollbar {
    width: 7px;
}
   

.devslist::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 200px;
}
  

.devslist::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.devslist{
    min-height: 95vh;
    background-color: var(--tertiary);
    overflow: auto;
    display: table;
    margin: auto;
}

.devpreview{
    box-shadow: 0px 0px 10px rgb(192, 192, 192);
    width: fit-content;
    border-radius: 15px;
    float:left;
    margin: 20px;
    margin-bottom: 20px;
    width: 320px;
    height: 140px;
    background-color: var(--secondary);
    margin-top: -10px;
    padding: 10px;
    overflow: hidden;
}

.devpreview h1{
    margin-top: 12px;
    margin-bottom: -7px;
    font-size: x-large;
    margin-left: 100px;
}

.devpreview p{
    margin-left: 100px;
    font-size: 15px;
    height: 45px;
    margin-bottom: 20px;
    opacity: .5;
}

.devpreview div{
    width: 80px;
    height: 80px;
    position: absolute;
    border-radius: 10000px;
    box-shadow: 0 0 10px -5px black;
    background-image: url("../Images/lunacyrender.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.devpreview a{
    text-align: center;
    background: var(--primary);
    padding: 8px 141px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(209, 209, 209);
    box-shadow: 0px 0px 10px rgb(192, 192, 192);
    transition: .3s;
}

.devpreview a:hover{
    color: white;
    background: rgb(83, 83, 83);
}

.devpreview a:focus-visible{
    box-shadow: 0 0 0 5px var(--main)
}

#devheader{
    top: 90px;
    min-height: 100px;
    position: absolute;
    width: 100%;
    background: var(--secondary);
    -webkit-backdrop-filter: blur(10px);
    -webkit-filter: opacity(85%);
    filter: opacity(85%);
    backdrop-filter: blur(10px); 
    z-index: 5;
    background-color: var(--tertiary);
}

#spacer.devspacer{
    background-color: var(--tertiary);
    height: 270px;
}

#close{
    width: 15px;
    height: 29px;
    background-image: url(../Images/arrow.png);
    background-size: cover;
    display: block;
    position: absolute;
    left: calc(15% - 60px); 
    top: 35px;
    filter: invert(1);
}

#devheader .pfp{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-image: url(../Images/yeehawbackground.png);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 10px -5px;
    position: absolute;
    left: 15%;
}

#devheader .name{
    position: absolute;
    left: calc(15% + 125px);  
    top: -10px;
}

#devheader .position{
    position: absolute;
    left: calc(15% + 125px); 
    top: 40px;
    font-weight: 500; 
    color: rgba(0, 0, 0, .5)
}

#devheader .joinDate{
    position: absolute;
    right: 15%; 
    top: 15px;
    font-weight: 600; 
    overflow: hidden;
}

#switcher{
    position: absolute;
    margin-top: -60px;
    left: 50%;
    transform: translate(-50%, 0);
}

#switcher :is(button, a){ /* didnt know if I wanted button or a */
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

#switcher :is(button, a).active{
    font-weight: 600;
}

#switcher :is(button, a).active::after{
    content: '';
    display: block;
    height: 2px;
    margin-left: -3px;
    width: 55px;
    position: absolute;
    transition: .2s;
    background-color: black;
}

#switcher :is(button, a):last-of-type{
    margin-left: 20px;
}

#switcher :is(button, a):last-of-type.active::after{
    height: 2px;
    margin-left: 72px;
    width: 76px;
    position: absolute;
    transition: .2s;
    background-color: black;
}

#portfolio{
    width: 70vw;
    display: none;
    margin: auto;
}

#portfolio h1{
    margin-left: 25px;
}

#grid{
    
    display: grid;
    grid-template-columns: 32% 32% 32%;
    aspect-ratio: 2/1;
    grid-gap: 1rem;
    padding: 20px;
    min-height: 150px;
}

#grid a{
    display: block;
    text-align: left;
    color: white;
    background-image:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 45%),
                       url(../Images/lunacyrender.png);
    background-size: cover;
    background-position: center;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 10px -5px black;
    position: relative;
}

#grid a h1{
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    font-size: 25px;
    display: block;
    
    font-weight: 500;
}

#extras{
    margin-top: -30px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
    padding: 20px;
    min-height: 150px;
    border-radius: 20px;
}

#extras a{
    position: relative;
    display: block;
    text-align: left;
    color: white;
    background-image:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 45%),
                       url(../Images/lunacyrender.png);
    background-size: cover;
    background-position: center;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0 0 10px -5px black;
}

#extras a h1{
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    font-size: 25px;
    display: block;
    font-weight: 500;
}
.a {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .b {
    grid-column: 3 ;
    grid-row: 1 / 3;
  }
  .c {
    grid-column: 1 ;
    grid-row: 2 ;
  }
  .d {
    grid-column: 2;
    grid-row: 2;
  }

#about{
    width: 90vw;
    margin: auto;
}

#about h1{
    font-size: 25px;
}

#aboutText{
    background-color: var(--tertiary);
    padding: 20px;
    border-radius: 20px;
    font-weight: 500;
}

#socials{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tertiary);
    border-radius: 20px;
    height: 100px;
}

#socials div{
    margin-left: 10%;
    margin-right: 10%;
}

#socials div p{
    font-weight: 500;
    color: rgba(0,0,0,.5);
    margin-top: 1px;
}

#socials div a{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#socials div h3{
    margin-bottom: 0;
}

#socials div div{
    width: 70px;
    height: 70px;
    background-color: white;
    position: absolute;
    border-radius: 100px;
    box-shadow: 0 0 10px -8px black;
    margin-left: -85px;
    margin-top: 5px;
}

#roblo div::after{
    content: '';
    background-image: url(../Images/robloxicon.png);
    width: 45%;
    height: 45%;
    position: absolute;
    background-size: cover;
    background-position: center;
    filter: invert(1);
    left: 19px;
    top: 19px;
}

#dicor div::after{
    content: '';
    background-image: url(../Images/discordicon.png);
    width: 45%;
    height: 32%;
    position: absolute;
    background-size: cover;
    background-position: center;
    filter: invert(1);
    left: 19px;
    top: 23px;
}

#youtub div::after{
    content: '';
    background-image: url(../Images/youtubeicon.png);
    width: 45%;
    height: 32%;
    position: absolute;
    background-size: cover;
    background-position: center;
    filter: invert(1);
    left: 19px;
    top: 23px;
}

#FavList{
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 1rem;
    background-color: var(--tertiary);
    padding: 20px;
    min-height: 150px;
    border-radius: 20px;
}

#FavList a{
    position: relative;
    display: block;
    text-align: left;
    color: white;
    background-image:  linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 45%),
                       url(../Images/lunacyrender.png);
    background-size: cover;
    background-position: center;
    text-decoration: none;
    border-radius: 12px;
    box-shadow: 0 0 10px -5px black;
}

#FavList a h1{
    position: absolute;
    bottom: 0;
    margin-left: 10px;
    font-size: 25px;
    display: block;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    #close{
        width: 15px;
        height: 29px;
        background-image: url(../Images/arrow.png);
        background-size: cover;
        display: block;
        position: absolute;
        left: calc(10% - 60px); 
        top: 35px;
        filter: invert(1);
    }
    
    #devheader .pfp{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        background-image: url(../Images/yeehawbackground.png);
        background-size: cover;
        background-position: center;
        box-shadow: 0 0 10px -5px;
        position: absolute;
        left: 10%;
    }
    
    #devheader .name{
        position: absolute;
        left: calc(10% + 125px);  
        top: -10px;
    }
    
    #devheader .position{
        position: absolute;
        left: calc(10% + 125px); 
        top: 40px;
        font-weight: 500; 
        color: rgba(0, 0, 0, .5)
    }
    
    #devheader .joinDate{
        position: absolute;
        right: 10%; 
        top: 15px;
        font-weight: 600; 
        overflow: hidden;
    } 
}
